# ===============================
# ROS 2 / colcon
# ===============================
build/
install/
log/

# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# ===============================
# C / C++
# ===============================
*.o
*.obj
*.so
*.a
*.out

# ===============================
# Editors / IDEs
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# ROS runtime
# ===============================
*.bag
*.bag.active
